@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

$font-OS: "Open Sans", sans-serif;
$body-color: #fdfdfd;
$btn-color: #d1d8e0;
$btn-hover-color: #056ce9;
$btn-delete-hover-color: #bb2525;
$color1: #ffffff;


* {
	box-sizing: border-box;
}

body {
	background: $body-color;
	font-family: $font-OS;
	text-align: center;
	
}

.container {
	background: $color1;
	width:100%;
	margin: 0 auto;
	padding: 30px 0px;

}
.board h1 {
	font-size: 70px;
	text-transform: uppercase;
	font-weight: 800;
	
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 0px;
	text-transform: uppercase;
	justify-content: space-around;
	border: 1px solid black;
	list-style-type: none;
}
.btn:hover {
	background: $btn-hover-color;
	border-radius: 50%;
	transition: 0.7s
}
.btn {
	background: $btn-color;
	transition: 0.7s;
	list-style-type: none;
	padding: 15px;
	display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    margin: 5px 5px;
}
.btn-delete {
	background: $btn-color;
}
.btn-delete:hover {
	background: $btn-delete-hover-color;
	color: white;
	border-radius: 100%;
	transition: 0.7s;
	
}
.card-description {
	list-style-type: none;
	padding: 10px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 5px;
}